.App{
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

*{
  box-sizing: border-box;
}

.header{
  width: 100%;
  margin: 15px 0;
}

.nav{
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.btns-container{
  display: flex;
  justify-content: end;
  gap: 7px;
}
